[user]
	email = lennart.alff@gmail.com
	name = Thies Lennart Alff
[merge]
	tool = kdiff3
[diff]
	guitool = kompare
[init]
	defaultBranch = main
[core]
	editor = vim
[pull]
	ff = only
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
