[user]
	email = lennart.alff@gmail.com
	name = Thies Lennart Alff
[merge]
	tool = kdiff3
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
	cmd = code --wait $MERGED
[diff]
	guitool = vscode
[init]
	defaultBranch = main
[core]
	editor = vim
	autocrlf = input
[pull]
	ff = only
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
